@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
  background-color: #f8fafc; /* bg-slate-50 */
  color: #0f172a; /* text-slate-900 */
}

#root {
  height: 100%;
}
