body {
    background-color: #393E46;
    align-content: self;
}
#card_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 600px;
    background-color: #222831;
    color: #DFD0B8;
    border-radius: 25px;
    box-shadow: 10px 10px 20px #222;
    text-align: center;
}

#card_container img {
    width: 250px;
    height: 250px;
    margin: 25px;
    border-radius: 25px;
}

#card_container h1 {
    font-size: 25px;
    margin: 0px;
}

#card_container p {
    margin: 25px;
}

#card_container a {
    margin: 25px;
    background-color: #393E46;
    color: #DFD0B8;
    padding: 5px;
    border-radius: 5px;
}