<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ title }}</title>
    </head>
    <body>
        <h1>{{ message }}</h1>
        <p> njk로 렌더링됨 하이요</p>
        <p> njk로 렌더링됨 하이요</p>
        <p> njk로 렌더링됨 하이요</p>
    </body>
</html>
