<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>과일 목록</title>
    </head>
    <body>
        <h1> {{ title }} - 여기는 메뉴바 </h1>
