* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
}

h1 {
    margin-top: 5vh;
    margin-bottom: 3vh;
    font-size: 4rem;
    color: rgb(60, 60, 80);
}

.container {
    padding-left: 16vw;
    padding-right: 16vw;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#json-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 5vh;
}

#json-wrap #post-all {
    width: 10vh;
    background-color: white;
    border: 0;
    margin-bottom: 10px;
    color: rgb(60, 60, 80);
}

#json-container {
    background-color: rgb(59, 58, 63);
    color: white;
    border: 0;
    border-radius: 16px;
    width: 100%;
    height: 30vh;
    white-space: pre;
    overflow-x: auto;
    padding: 16px;
}
.method-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.method-container h2 {
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-size: 1.5rem;
    color: rgb(60, 60, 80);
}

.method-container input {
    margin-left: 2vw;
    margin-bottom: 1vh;
    width: 50vw;
    max-width: 400px;
    background-color: rgb(250, 250, 255);
    height: 30px;
    border: 0;
    border-radius: 8px;
    text-indent: 12px;
    color: rgb(60, 60, 80);
}

.method-container input::placeholder {
    color: rgb(160, 160, 180);
}

.method-container button {
    margin-top: 2.5vh;
    margin-bottom: 5vh;
    margin-left: 2vw;
    width: 15vh;
    height: 30px;
    background-color: rgb(100, 100, 255);
    border: 0;
    border-radius: 8px;
    color: white;
}
